/* RESET BEGIN */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

/* RESET END */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(82, 99, 133);
}

#library {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    width: 100%;
    justify-content: center;
}

.book {
    background-color: #b8b8b8;
    border-radius: 8px;
    margin: 16px;
    padding: 16px;
    height: 333.3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

dialog form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.inputDiv {
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgb(36, 56, 95);
    color: white;
    padding: 32px;
}

.bookButtons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.bookInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deleteBookButton {
    color: red;
    background-color: grey;
}

button#addBook {
    border: 2px solid black;
    margin-top: 8px;
    color: white;
    background-color: rgb(82, 99, 133);
    height: 64px;
    width: 128px;
    border-radius: 8px;
    cursor: pointer;
}

.read {
    background-color: darkgreen;
    color: white
}

.notRead {
    background-color: darkred;
    color: white
}

legend {
    font-size: larger;
    font-weight: bold;
}